body {
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#logo {
    width: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#hero {
    background-image: url("./images/hotel_overview.jpg");
    background-repeat: no-repeat;
    background-color: #0c3d5e;
    background-blend-mode: overlay;
    background-size: cover;
    padding: 0rem 1rem 3rem 1rem;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hero ul {
    display: flex;
}

#hero li {
    padding: 1rem;
    list-style-type: none;
}

#hero a {
    text-decoration: none;
    color: #e1b411;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 12px;
    }
}

#welcome-heading {
    padding: 3rem 0px;
}

h1 {
    color: white;
    font-size: 2rem;
}

#welcome-heading p {
    width: 70%;
}

button {
    border: 1px solid #e1b411;
    color: white;
    background-color: #0c3d5e;
    border-radius: 4px;
}

#discover {
    display: inline-flex;
}

#enjoy {
    width: 50%;
    margin: 1rem;
}

#booking {
    width: 50%;
    padding: 1rem;
    background-color: lightgray;
    display: inline-flex;
    justify-content: space-around;
}

footer {
    background-color: #0c3d5e;
    color: white;
}

#top-footer {
    display: inline-flex;
    justify-content: space-between;
}

footer img {
    width: 100px;
}

figure, footer div {
    padding: 1rem;
}

footer li {
    list-style: none;
}

footer li a {
    text-decoration: none;
    color: white;
    text-justify: left;
}